html {
  box-sizing: border-box;
}

:root {
  --color-purple: #6D31EE;
  --color-purple-light: #AA9DFA;
  --color-purple-dark: #4F28A5;
  --color-white: #fff;
  --color-black: #121723;
  --color-black-light: #292E39;
  --color-dark-white: #E6E8EC;
  --color-gray: #F2F2F2;
  --color-dark-gray: #A1A6B4;
  --color-golden: #F0D288;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

picture {
  font-size: 0;
}

img {
  display: block;
  width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"),
    url(../fonts/MullerRegular.woff2) format("woff2"),
    url(../fonts/MullerRegular.woff) format("wooff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegularItalic"),
    url(../fonts/MullerRegularItalic.woff2) format("woff2"),
    url(../fonts/MullerRegularItalic.woff) format("wooff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"),
    url(../fonts/MullerMedium.woff2) format("woff2"),
    url(../fonts/MullerMedium.woff) format("wooff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerBold"),
    url(../fonts/MullerBold.woff2) format("woff2"),
    url(../fonts/MullerBold.woff) format("wooff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLightItalic"),
    url(../fonts/MullerLightItalic.woff2) format("woff2"),
    url(../fonts/MullerLightItalic.woff) format("wooff");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(.005) scaleX(0);
  }

  50% {
    transform: scaleY(.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(.005) scaleX(1);
  }

  100% {
    transform: scaleY(.005) scaleX(0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(.8) translateY(1000px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }

  100% {
    transform: scale(.8) translateY(1000px);
    opacity: 0;
  }
}

body {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-white);
  color: var(--color-black);
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: inherit;
  border: none;
  border-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.container {
  position: relative;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  width: 245px;
  height: 70px;
  text-align: center;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.section-title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 95px;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

.item-link:focus {
  padding: 4px 10px;
  background-color: var(--color-purple-light);
  color: var(--color-white);
}

.item-link:hover {
  color: var(--color-purple);
}

.item-link:active {
  color: var(--color-purple-dark);
}


/* header */

.burger {
  display: none;
}

.header__rowThree__logo {
  display: none;
}

.play-little {
  display: none;
}

.header__rowFour {
  display: none;
}

.header__rowOne {
  height: 80px;
  justify-content: space-between;
}

.header__rowOne__logo {
  width: 220px;
}

.header__nav {
  width: 100%;
}

.header__rowOne__nav__list {
  /* grid-template-columns: repeat(auto-fit, minmax(75px, 1fr)); */
  padding: 0 51px 0 52px;
  /* justify-items: center; */
  display: flex;
  justify-content: space-around;
}

.header__rowOne__item {
  font-size: 20px;
  line-height: 20px;
}

.header__rowOne__search {
  margin-right: 24px;
  cursor: pointer;
}

.header__search:focus svg path,
.header__search:hover svg path {
  stroke: var(--color-purple-light);
}

.header__search:active svg path {
  stroke: var(--color-purple-dark);
}

.header__rowOne__search__active {
  display: flex;
  width: 404px;
  height: 60px;
  position: absolute;
  right: 107px;
  top: 10px;
  padding-top: 16px;
  background: var(--color-white);
  transition: 0.9s ease, color 0.9s linear;
  opacity: 0;
  visibility: hidden;
}

.header__rowOne__search__active_input {
  width: 330px;
  height: 20px;
  margin-left: 28px;
  margin-top: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-purple);
}

.header__rowOne__search__active_btn {
  margin-right: 20px;
  margin-bottom: 15px;
}

.header__rowOne__btn {
  width: 104px;
  height: 40px;
  padding-right: 10px;
  font-weight: 500;
  justify-content: space-around;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: 77px;
}

.header__rowOne__btn:focus {
  background: var(--color-purple-light);
  border: 2px solid var(--color-black);
}

.header__rowOne__btn:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.header__rowOne__btn:active {
  background: var(--color-purple-dark);
}

.header__rowTwo {
  height: 60px;
  border: 1px solid var(--color-dark-white);
}

.header__rowTwo__container {
  justify-content: space-between;
}

.header__rowTwo__nav {
  width: 100%;
}

.header__rowTwo__list {
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
}

.header__rowTwo__play {
  width: 175px;
  height: 40px;
  padding-left: 12px;
  border-left: 1px solid var(--color-dark-white);
  border-right: 1px solid var(--color-dark-white);
}

.header__rowTwo__play:last-of-type {
  margin-right: 52px;
  border-left: none;
}

.header__rowTwo__play__btn {
  margin-right: 10px;
}

.header__rowTwo__play__btn:focus svg path {
  fill: var(--color-purple-light);
}

.header__rowTwo__play__btn:hover svg path {
  fill: var(--color-purple);
}

.header__rowTwo__play__btn:active svg path {
  fill: var(--color-purple-dark);
}

.header__rowTwo__play__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-dark-gray);
}

.header__rowTwo__ageLimit {
  width: auto;
}

.play-little:focus path {
  fill: var(--color-purple-light);
}

.play-little:hover path {
  fill: var(--color-purple);
}

.play-little:active path {
  fill: var(--color-purple-dark);
}


/* hero */

.hero {
  background-image: url(../img/microphone.png);
  background-repeat: no-repeat;
  background-position: right;
}

.hero__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 90px;
  font-weight: 700;
  font-size: 60px;
}

.hero__title__span {
  font-weight: 400;
  font-style: italic;
}

.hero__descr {
  max-width: 635px;
  margin: 0;
  margin-bottom: 45px;
  line-height: 150%;
}

.hero__btn {
  margin-bottom: 95px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  background-color: var(--color-purple);
  color: var(--color-white);
}

.hero__btn:focus {
  background: var(--color-purple-light);
  border: 2px solid var(--color-purple-dark);
}

.hero__btn:hover {
  background: var(--color-purple-light);
  border: none;
}

.hero__btn:active {
  background: var(--color-purple-dark);
}

/* podcasts */

.podcasts {
  padding-bottom: 94px;
  background-color: var(--color-gray);
}

.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__contaiter {
  flex-wrap: wrap;
  justify-content: space-between;
}

.podcasts__article {
  position: relative;
  width: 49%;
  margin-bottom: 30px;
  background-color: var(--color-white);
}

.more-podcasts {
  display: none;
}

.podcasts__article__col {
  flex-grow: 2;
}

.podcasts__article__descr {
  margin-bottom: 20px;
  padding-left: 30px;
  justify-content: space-between;
}

.podcasts__article__btn-play {
  width: 48px;
  height: 48px;
  margin-top: 15px;
  margin-right: 33px;
}

.podcasts__article__btn-play:focus path {
  fill: var(--color-purple-light);
}

.podcasts__article__btn-play:focus circle {
  stroke: var(--color-purple-light);
}

.podcasts__article__btn-play:hover path {
  fill: var(--color-purple);
}

.podcasts__article__btn-play:hover circle {
  stroke: var(--color-purple);
}

.podcasts__article__btn-play:active path {
  fill: var(--color-white);
}

.podcasts__article__btn-play:active circle {
  fill: var(--color-purple-dark);
}

.podcasts__article__time {
  margin-bottom: 8px;
  padding-top: 20px;
  font-size: 12px;
  line-height: 12px;
}

.podcasts__article__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
}

.podcasts__article__text {
  color: var(--color-dark-gray);
}

.podcasts__article__actions {
  padding-top: 10px;
  padding-bottom: 4px;
  border-top: 1px solid var(--color-dark-white);
}

.podcasts__article__icon {
  margin-left: 30px;
  padding-left: 17px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: top;
}

.podcasts__article__summary {
  background-image: url(../img/podcasts-play.svg);
}

.podcasts__article__like {
  background-image: url(../img/podcasts-like.svg);
}

.podcasts__article__share {
  background-image: url(../img/podcasts-share.svg);
}

.podcasts__article__date {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 16px;
  font-size: 10px;
  line-height: 10px;
  background: var(--color-dark-white);
}

.podcasts__btn {
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border: 2px solid var(--color-purple);
  color: var(--color-purple);
  align-items: center;
  justify-content: center;
}

.podcasts__btn:focus {
  background: var(--color-purple-light);
  border: 2px solid var(--color-purple-dark);
  color: var(--color-white);
}

.podcasts__btn:hover {
  background: var(--color-purple);
  color: var(--color-white);
}

.podcasts__btn:active {
  background: var(--color-purple-dark);
  color: var(--color-white);
}

/* broadcasts */

.broadcasts {
  position: relative;
  min-height: 530px;
  align-items: start;
}

.broadcasts__autor {
  color: var(--color-dark-gray);
}

.broadcasts__container_left {
  margin-right: 27px;
}

.broadcasts__container {
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  row-gap: 30px;
  column-gap: 27px;
  margin-bottom: 95px;
  padding-top: 106px;
  flex-wrap: wrap;
}

.broadcasts__article {
  min-height: 260px;
  border: 1px solid var(--color-dark-white);
}

.broadcasts__article_descr {
  padding-left: 16px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.broadcasts__article__title {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.broadcasts__article_text {
  font-size: 12px;
  line-height: 12px;
  color: var(--color-dark-gray);
}

.broadcasts__article__btn {
  margin-left: 15px;
  padding: 4px 0px 2px 2px;
  font-style: italic;
}

.broadcasts__article__btn:focus {
  background-color: var(--color-purple-light);
  color: var(--color-white);
}

.broadcasts__article__btn:focus .broadcasts__article__btn_pic path {
  fill: var(--color-white);
}

.broadcasts__article__btn:hover {
  color: var(--color-purple);
}

.broadcasts__article__btn:hover .broadcasts__article__btn_pic path {
  fill: var(--color-purple);
}

.broadcasts__article__btn:active {
  color: var(--color-purple-dark);
}

.broadcasts__article__btn:active .broadcasts__article__btn_pic path {
  fill: var(--color-purple-dark);
}

.broadcasts__aside {
  position: absolute;
  left: 10px;
  bottom: 92px;
  width: 255px;
  padding-top: 125px;
  background-image: url(../img/broadcasts-mic.png);
  background-repeat: no-repeat;
  background-position-y: 12px;
}

.broadcasts__aside__btn {
  width: 160px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 40px;
  justify-content: space-around;
  font-weight: 500;
  border: 2px solid var(--color-black);
  border-radius: 77px;
  background-color: var(--color-white);
}

.broadcasts__aside__btn:focus {
  background: var(--color-purple-light);
  border: 2px solid var(--color-black);
}

.broadcasts__aside__btn:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.broadcasts__aside__btn:hover svg path {
  stroke: var(--color-white);
}

.broadcasts__aside__btn:active {
  background: var(--color-purple-dark);
}

.broadcasts__aside__text {
  margin: 0;
  line-height: 150%;
  color: var(--color-dark-gray);
}

/* broadcasts select */

.choices {
  width: 255px;
  height: 40px;
  margin-top: 5px;
  border-radius: 10px;
}

.choices[data-type*=select-one]:after {
  height: 8.5px;
  width: 8.5px;
  border-width: 0px;
  border-right: 1px solid var(--color-dark-gray);
  border-top: 1px solid var(--color-dark-gray);
  transform: rotate(135deg);
  margin-top: -6px;
  margin-right: 5px;
}

.choices[data-type*=select-one].is-open:after {
  border-width: 0px;
  border-left: 1px solid var(--color-dark-gray);
  border-bottom: 1px solid var(--color-dark-gray);
  margin-top: -2px;
  margin-right: 5px;
}

.choices__inner {
  background: var(--color-dark-white);
  border: none;
}


.is-open .choices__inner {
  border: 1px solid #D2D5DD;
  border-radius: 10px;
}

.choices__item {
  font-size: 16px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: 1px solid #D2D5DD;
  border-top: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: var(--color-purple-light);
}

.is-selected {
  background: var(--color-dark-white);
}

.is-open.is-focused {
  border: none;
}

.is-focused {
  background: var(--color-dark-white);
  border: 1px solid var(--color-purple);
}

/* guests */

.guests {
  padding-bottom: 95px;
  background: var(--color-black);
  color: var(--color-white);
}

.guests__title {
  color: var(--color-white);
}

.guests__descr {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-dark-gray);
}

.guests__text {
  width: 825px;
  margin: 0;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 160%;
  color: var(--color-dark-gray);
}

.guests__container {
  align-items: flex-start;
}

.guests__cards__default {
  display: inline;
  width: 350px;
  height: 150px;
  background-image: url(../img/guests-cards-default.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.guests__cards {
  width: 32%;
}

.closed {
  display: none;
}

.guests__cadrds__icon__link {
  display: flex;
  height: 40px;
  margin-bottom: 8px;
  align-items: center;
}

.guests__cards__icon {
  margin-right: 30px;
}

.guests__cards__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.guests__cards__descr {
  max-width: fit-content;
  margin: 0;
  margin-bottom: 28px;
  line-height: 180%;
}

.guests__cards__btn {
  width: 160px;
  height: 40px;
  background-color: inherit;
  border: 2px solid var(--color-purple-light);
  color: var(--color-purple-light);
}

.guests__cards__btn:focus {
  background-color: var(--color-purple);
  border: none;
  color: var(--color-white);
}

.guests__cards__btn:hover {
  background-color: var(--color-purple-light);
  border: none;
  color: var(--color-white);
}

.guests__cards__btn:active {
  background-color: var(--color-purple-dark);
}

.guests__cadrds__icon__link:focus .guests__cards__icon path {
  fill: var(--color-purple-light);
}

.guests__cadrds__icon__link:hover .guests__cards__icon path {
  fill: var(--color-purple);
}

.guests__cadrds__icon__link:active .guests__cards__icon path {
  fill: var(--color-purple-dark);
}


/* guests accordion */

.guests__accordion {
  width: calc(100% - 380px);
  margin-right: 30px;
}

.accordion__item {
  position: relative;
  margin: -1px;
  border-top: 1px solid var(--color-dark-gray);
  border-bottom: 1px solid var(--color-dark-gray);
}

.accordion__item:not(:first-of-type) {
  border-top: none;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.accordion__item_show.accordion__item {
  border-top: 1px solid var(--color-purple-light);
  border-bottom: 1px solid var(--color-purple-light);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 35px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.2s ease-out;
  color: var(--color-white);
}

.accordion__icon {
  position: absolute;
  right: 4px;
}

.accordion__item_show .accordion__icon {
  transform: rotate(-180deg);
}

.accordion__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  padding: 15px 0 20px 0;
  transition: 0.5s ease;
  border-top: 1px solid var(--color-purple-light);
}

.accordion__body__item {
  padding-top: 14px;
  cursor: pointer;
}

.accordion__header:focus {
  background: var(--color-black-light);
}

.accordion__header:hover {
  color: var(--color-purple-light);
}

.accordion__header:hover .accordion__icon circle,
.accordion__header:hover .accordion__icon path {
  stroke: var(--color-purple-light);
}

.accordion__header:active .accordion__icon circle {
  fill: var(--color-purple-light);
}

.accordion__header:active .accordion__icon path {
  stroke: var(--color-white);
}

.accordion__body__item:focus {
  background: var(--color-black-light);
}

.accordion__body__item:hover {
  color: var(--color-purple-light);
}

/* playlists */

.playlists {
  align-items: flex-start;
  padding-bottom: 95px;
}

.playlists__radio {
  display: flex;
  margin: 0;
  margin-right: 50px;
  margin-bottom: 6px;
  padding: 0;
  flex-direction: column;
  line-height: 16px;
  border: none;
  outline: none;
  color: var(--color-dark-gray);
}

.playlists__radio__title {
  padding-bottom: 5px;
}

.playlists__radio__input {
  position: relative;
  display: flex;
  padding: 10px 0 16px 42px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  align-items: center;
  color: var(--color-black);
  background-color: inherit;
  cursor: pointer;
}

.playlists__radio input[type=radio] {
  display: none;
}

.playlists__radio__input::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 2px;
  /* bottom: 13px; */
  border: 2px solid var(--color-dark-gray);
  border-radius: 50%;
}

.playlists__radio__input:focus::before {
  background: #D2D5DD;
  border: 2px solid var(--color-purple);
}

.playlists__radio__input:hover::before {
  background: var(--color-white);
  border: 2px solid var(--color-purple);
}

.playlists__radio input[type=radio]:checked+.playlists__radio__input::before {
  border: 7px solid var(--color-purple);
}

.playlists__text {
  width: 350px;
  margin: 0;
  padding-top: 40px;
  line-height: 22px;
  border-top: 1px solid #D2D5DD;
  color: var(--color-dark-gray);
}

.playlists__logo {
  margin: 0;
  padding-bottom: 40px;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  background-image: url(../img/18+.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 24px;
}

.playlists__cards {
  padding-top: 108px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 27px;
}

.playlists__cards__article {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 224px;
  background: var(--color-black);
  border: 1px solid var(--color-dark-white);
  cursor: pointer;
}

.playlists__cards__article__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  background-color: var(--color-white);
}

.playlists__cards__article__pic {
  width: auto;
}

.playlists__cards__article:focus .playlists__cards__article__pic,
.playlists__cards__article:focus .playlists__cards__article__flag {
  opacity: 0.8;
}

.playlists__cards__article:focus .playlists__cards__article__content {
  background-color: var(--color-purple-light);
}

.playlists__cards__article:focus .playlists__cards__article__descr {
  color: var(--color-black);
}

.playlists__cards__article:hover .playlists__cards__article__pic,
.playlists__cards__article:hover .playlists__cards__article__flag {
  opacity: 0.8;
}

.playlists__cards__article:hover .playlists__cards__article__content {
  background-color: var(--color-purple);
}

.playlists__cards__article:hover .playlists__cards__article__descr,
.playlists__cards__article:hover .playlists__cards__article__title {
  color: var(--color-white);
}

.playlists__cards__article:active .playlists__cards__article__pic,
.playlists__cards__article:active .playlists__cards__article__flag {
  opacity: 0.8;
}

.playlists__cards__article:active .playlists__cards__article__content {
  background-color: var(--color-purple);
}

.playlists__cards__article__title {
  margin: 0;
  font-weight: 500;
}

.playlists__cards__article__descr {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-dark-gray);
}

.playlists__cards__article__flag {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
}

.playlists__cards__article__play {
  display: none;
  position: absolute;
  top: 25%;
  right: 35%;
}

.playlists__cards__article:focus .playlists__cards__article__play {
  display: block;
}

.playlists__cards__article:hover .playlists__cards__article__play {
  display: block;
}

.playlists__cards__article:active .playlists__cards__article__play {
  display: block;
  width: 56px;
  height: 56px;
  top: 23%;
  right: 33%;
}

.playlists__descr-tablet {
  display: none;
}

/* product */

.product {
  background-color: var(--color-black-light);
}

.product__content {
  position: relative;
  padding-bottom: 130px;
  padding-left: 60%;
  background-image: url(../img/product-radio.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 57%;
}

.product__icon_new {
  position: absolute;
  left: 0;
  top: 100px;
}

.product__content__title {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 48px;
  line-height: 100%;
  color: var(--color-golden);
  border-bottom: 10px solid var(--color-dark-gray);
  border-image: url(../img/border-wave.svg) 12;
}

.product__content__descr {
  margin: 0;
  margin-bottom: 10px;
  line-height: 180%;
  color: var(--color-white);
}

.product__content__price {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 25px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-white);
}

.product__content__btn {
  position: relative;
  width: 300px;
  height: 70px;
  padding-left: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  border: 2px solid var(--color-golden);
  border-radius: 100px;
  background-color: initial;
  color: var(--color-golden);
}

.product__content__btn_pic {
  position: absolute;
  left: 10px;
}

.product__content__btn:focus {
  background-color: #BB973E;
  color: var(--color-black);
}

.product__content__btn:hover {
  background-color: var(--color-golden);
  color: var(--color-black);
}

.product__content__btn:hover .product__content__btn_picStr1 {
  fill: var(--color-black);
}

.product__content__btn:hover .product__content__btn_picStr2 {
  fill: var(--color-golden);
}

.product__content__btn:active {
  background-color: #BB973E;
  border: none;
}

/* about */

.containers {
    position: relative;
    max-width: 1275px;
    margin: 0 auto;
    padding: 0px 80px;
}

.about {
  position: relative;
  background: var(--color-black);
}

.about__container {
  background-image: url(/img/about-img-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 77%;
}

.about__content {
  width: 635px;
}

.about__title {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 100%;
  color: var(--color-white);
}

.about__descr_title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-dark-gray);
}

.about__descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 160%;
  color: var(--color-dark-gray);
}

.about__swiper__title {
  margin: 0;
  margin-bottom: 8px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
}

.about__swiper__descr {
  margin: 0;
  line-height: 24px;
  color: var(--color-dark-gray);
}

.about__swiperPrev {
  position: absolute;
  top: 30%;
  left: 7px;
  cursor: pointer;
}

.about__swiperNext {
  position: absolute;
  top: 30%;
  right: 7px;
  cursor: pointer;
}

.about__form {
  position: relative;
  max-width: 920px;
  padding-bottom: 85px;
}

.input-form {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 24px 30px;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  background: inherit;
  color: var(--color-dark-gray);
  cursor: pointer;
}

.about__form__text {
  width: 100%;
  height: 150px;
  margin-top: 30px;

}

.about__form__name {
  position: relative;
  width: 50%;
  margin-top: 30px;

}

.about__form__email {
  position: relative;
  width: 50%;
  margin-left: 30px;
  margin-top: 30px;

}

.about__form__row {
  margin-bottom: 32px;
}

.about__form__btn {
  width: 212px;
  height: 70px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 40px;
  background: var(--color-purple);
  color: var(--color-white);
}

.about__form__checkbox {
  position: relative;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-white);
}

.checkbox {
  width: 14px;
  height: 14px;
  opacity: 0;
  margin-right: 7px;
}

.about-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-white);
}

.checkbox:checked+.about-checkbox::before {
  background-image: url(../img/about-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.just-validate-error-field.input-form {
  border-color: red;
}

.just-validate-success-field {
  color: var(--color-white);
}

.just-validate-error-label {
  position: absolute;
  top: 10px;
  left: 30px;
}

.input-form:focus {
  border: 1px solid var(--color-purple-light);
  background-color: var(--color-black-light);
}

.input-form:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-black-light);
}

.input-form:active {
  background-color: inherit;
  color: var(--color-white);
}

.about__form__btn:focus {
  background: var(--color-purple-light);
  border: 2px solid var(--color-purple-dark);
}

.about__form__btn:hover {
  background: var(--color-purple-light);
  border: none;
}

.about__form__btn:active {
  background: var(--color-purple-dark);
}


/* footer */

.footer {
  grid-template-columns: minmax(100px, auto) minmax(auto, 1100px) minmax(100px, auto);
  background: var(--color-black-light);
  color: var(--color-white);
}

.footer__container {
  grid-column: 2 / 3;
  grid-template: 1fr / 1fr auto;
  padding-top: 95px;
  padding-bottom: 75px;
}

.footer__pic__icons {
  padding-top: 15px;
}

.footer__pic__icons__link:not(:first-of-type) {
  margin-left: 22px;
}

.footer__pic__icons__link:focus .footer__pic__icons__social path {
  fill: var(--color-purple-light);
}

.footer__pic__icons__link:hover .footer__pic__icons__social path {
  fill: var(--color-purple);
}

.footer__pic__icons__link:active .footer__pic__icons__social path {
  fill: var(--color-purple-dark);
}

.footer__nav {
  grid-template: repeat(3, 35px) / repeat(3, auto);
  width: 445px;
  justify-content: space-between;
  align-items: center;
}

.footer__copy-container {
    grid-row: 2;
    grid-column: span 3;
}

.footer__copy {
  grid-column: 1 / 4;
  margin: 0;
  padding: 10px;
  justify-content: center;
  line-height: 103.34%;
  border-top: 10px solid #F5F6F7;
  border-image: url(../img/footer-border.svg) 12 round;
  color: var(--color-dark-gray);
}




.modal {
  position: fixed;
  background-color: rgb(0 0 0 / 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  transform: scaleY(.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal__content {
  position: relative;
  width: 824px;
  height: 655px;
  margin-top: 80px;
  padding: 60px;
  background: var(--color-black);
}

.modal__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

.modal__text {
  margin: 0;
  margin-top: 17px;
}

.modal__link {
  color: var(--color-purple);
}

.modal__form {
  width: 526px;
  height: 70px;
  margin-top: 30px;
  padding-left: 32px;
  background-color: inherit;
  border: 1px solid var(--color-white);
  border-radius: 40px;
  color: var(--color-dark-gray);
}

.modal__form__input {
  position: relative;
}

.just-validate-error-field.modal__form {
  border-color: red;
}

.modal__btn {
  width: 167px;
  height: 70px;
  margin-top: 30px;
  background-color: var(--color-purple);
  color: var(--color-white);
}

.modal__text__help {
  margin: 0;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(230, 232, 236, 0.4);
}

.modal__social {
  width: 200px;
  margin-top: 30px;
  justify-content: space-between;
}

.close__modal {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.close__modal:focus path,
.close__modal:focus circle {
  stroke: var(--color-purple-light);
}

.close__modal:hover path,
.close__modal:hover circle {
  stroke: var(--color-purple);
}

.close__modal:active path,
.close__modal:active circle {
  stroke: var(--color-purple-dark);
}

.modal__btn:focus {
  background: var(--color-purple-light);
  border: 2px solid var(--color-purple-dark);
}

.modal__btn:hover {
  background: var(--color-purple-light);
  border: none;
}

.modal__btn:active {
  background: var(--color-purple-dark);
}

.modal__pic__icons__link:focus .modal__pic__icons__social_f path {
  fill: var(--color-purple-light);
}

.modal__pic__icons__link:hover .modal__pic__icons__social_f path {
  fill: var(--color-purple);
}

.modal__pic__icons__link:active .modal__pic__icons__social_f path {
  fill: var(--color-purple-dark);
}

.modal__pic__icons__link:focus .modal__pic__icons__social rect {
  fill: var(--color-purple-light);
}

.modal__pic__icons__link:hover .modal__pic__icons__social rect {
  fill: var(--color-purple);
}

.modal__pic__icons__link:active .modal__pic__icons__social rect {
  fill: var(--color-purple-dark);
}

.burger-modal {
  position: fixed;
  display: none;
  background-color: rgb(0 0 0 / 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  opacity: 0;
  animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.burger__content {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  padding-top: 28px;
  padding-left: 114px;
  background: #D2D5DD;
}

.burger__nav {
  padding-top: 54px;
}

.burger__nav_list {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 64px;
  column-gap: 48px;
}

.burger__item-link {
  color: var(--color-black);
}

.burger-spiral_left {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.burger-spiral_right {
  position: absolute;
  top: 0;
  left: 70%;
}

.Out {
  transform: scale(1);
  animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.scaleOut {
  animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@media (max-width: 1110px) {
  .playlists__cards {
    margin-left: 0;
    padding-top: 5px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 28px;
    column-gap: 33px;
  }
}
