# Скомпилированный исходный код #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Пакеты #
############
# лучше распаковать эти файлы и зафиксировать исходный код
# git имеет свои собственные встроенные методы сжатия
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Журналы и базы данных #
######################
*.log
*.sql
*.sqlite

# Файлы, созданные ОС #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Мусорные корзины
ehthumbs.db
Thumbs.db
